_1_pattern_target/AvaloniaApplication1/AvaloniaApplication1/bin/
_1_pattern_target/AvaloniaApplication1/AvaloniaApplication1/obj/
_2_mvvm_project/AvaloniaApplication1/AvaloniaApplication1/obj/
_2_mvvm_project/AvaloniaApplication1/AvaloniaApplication1/bin/
_2_mvvm_project/AvaloniaApplication1/.vs/
